server {
        listen 80 default_server;
        listen [::]:80 default_server ipv6only=on;

        server_name example.local.net example.local.net;

        location / {
                proxy_pass http://localhost:3000;
        }
}
